@{
    ViewBag.Title = "Productos";
    ViewBag.Css = "productos.css";
    ViewBag.Favicon = "productos.svg";
}

<section class="main container mt-5">
    <div class="route">
        <a asp-area="" asp-controller="Dashboard" asp-action="Index">Inicio</a>
        <p>Gestión de Productos</p>
    </div>

    <a class="btn btn-primary mb-5" asp-area="" asp-controller="Usuarios" asp-action="Create">Crear nuevo Producto</a>

    <table class="table table-striped">
        <thead>
            <td>Imagen</td>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Cantidad</td>
            <td>Acciones</td>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Arroz</td>
                <td><strong>$ </strong>5000</td>
                <td>2</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Show">Detalles</a>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Edit">Editar</a>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Delete">Eliminar</a>
                </td>
            </tr>

            @* @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Correo</td>
                    <td>@item.Genero</td>
                    <td>@item.Edad</td>
                    <td>
                        <a asp-area="" asp-controller="Usuarios" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-area="" asp-controller="Usuarios" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            } *@
        </tbody>
    </table>
</section>