@{
    ViewBag.Title = "Usuarios";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "usuarios.svg";
}

<section class="main container mt-5">
    <div class="route">
        <a asp-area="" asp-controller="Dashboard" asp-action="Index">Inicio</a>
        <p>Gestión de Usuarios</p>
    </div>

    <a class="btn btn-primary mb-5" asp-area="" asp-controller="Usuarios" asp-action="Create">Crear nuevo Usuario</a>

    <table class="table table-striped">
        <thead>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Correo</td>
            <td>Genero</td>
            <td>Edad</td>
            <td>Acciones</td>
        </thead>
        <tbody>
            <tr>
                <td>Juanky</td>
                <td>Herrera</td>
                <td>juanky@gmail.com</td>
                <td>M</td>
                <td>19</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Show">Detalles</a>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Edit">Editar</a>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Delete">Eliminar</a>
                </td>
            </tr>

            @* @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Correo</td>
                    <td>@item.Genero</td>
                    <td>@item.Edad</td>
                    <td>
                        <a asp-area="" asp-controller="Usuarios" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-area="" asp-controller="Usuarios" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            } *@
        </tbody>
    </table>
</section>